<% if user_signed_in? %>
    <div class="jumbotron_dashboard">
        <div class="container">
            <h1 class="display-3"><%= t "#{controller_name}_#{action_name}" %></h1>
            <p><strong>WebApp</strong> - Sistema web para apontamento de horas trabalhadas </p>    
        </div>
    </div>
<% end %>