<% if user_signed_in? %>
    <div class="jumbotron_dashboard">
        <div class="container">
            <h1 class="display-3">Appointments</h1>
            <p><strong>Webapp</strong> - Sistema web para apontamento de horas trabalhadas </p>    
        </div>
    </div>
<% end %>